{% extends 'base.html.twig' %}
{% block cat %}
{% for infos in infos %}
    <li><a href="{{ path('afficherPost',{'id': infos.id})}}">{{infos.titre}}</a></li>

{% endfor %}
{% endblock %}
{% block titre %}
    {{ nom.titre }}
{% endblock %}
{% block body %}
    {% for info in info %}
    <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 0%; top: 0px;">

        <div class="entry__thumb">
            <a href="{{ path('afficherPostDetail',{'id': info.id})}}" class="entry__thumb-link">
                <img src="{{ asset('front2/') }}images/thumbs/masonry/woodcraft-600.jpg" srcset="{{ asset('front2/') }}images/thumbs/masonry/woodcraft-600.jpg 1x, images/thumbs/masonry/woodcraft-1200.jpg 2x" alt="">
            </a>
        </div>

        <div class="entry__text">
            <div class="entry__header">

                <h2 class="entry__title"><a href="">{{info.titre}}</a></h2>
                <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="">{{info.categorie.titre}}</a>
                                    </span>
                    <span class="entry__meta-date">
                                        <a href="">{{ info.dateAjout|date }}</a>
                                    </span>
                </div>

            </div>
            <div class="entry__excerpt">
                <p>
                    {{ info.description|truncate(100, true, "...")|raw }}                </p>
            </div>
        </div>

    </article>
    {% endfor %}
{% endblock %}