{% extends 'base.html.twig' %}
{% block cat %}
{% for infos in infos %}
    <li><a href="{{ path('afficherPost',{'id': infos.id})}}">{{infos.titre}}</a></li>
{% endfor %}
{% endblock %}
{% block body %}

    <div class="masonry" style="position: relative; height: 5755.48px;">

        <div class="grid-sizer"></div>

        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 0%; top: 0px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/woodcraft-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/woodcraft-600.jpg 1x, images/thumbs/masonry/woodcraft-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">

                    <h2 class="entry__title"><a href="single-standard.html">Just a Standard Format Post.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Design</a>
                                        <a href="category.html">Photography</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 29, 2019</a>
                                    </span>
                    </div>

                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-quote animate-this animated" style="position: absolute; left: 50%; top: 0px;">

            <div class="entry__thumb">
                <blockquote>
                    <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>

                    <cite>Dieter Rams</cite>
                </blockquote>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 50%; top: 505.14px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/tulips-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/tulips-600.jpg 1x, images/thumbs/masonry/tulips-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-standard.html">10 Interesting Facts About Caffeine.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Health</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 28, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->


        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 0%; top: 829.14px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/dew-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/dew-600.jpg 1x, images/thumbs/masonry/dew-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-standard.html">Health Benefits Of Morning Dew.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Lifestyle</a>
                                        <a href="category.html">Health</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 28, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 50%; top: 1306.15px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/rucksack-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/rucksack-600.jpg 1x, images/thumbs/masonry/rucksack-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">

                    <h2 class="entry__title"><a href="single-standard.html">The Art Of Visual Storytelling.</a></h2>

                    <div class="entry__meta">
                                        <span class="entry__meta-cat">
                                            <a href="category.html">Lifestyle</a>
                                            <a href="category.html">Work</a>
                                        </span>
                        <span class="entry__meta-date">
                                            <a href="single-standard.html">Apr 26, 2019</a>
                                        </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 0%; top: 1630.15px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/jump-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/jump-600.jpg 1x, images/thumbs/masonry/jump-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">

                    <h2 class="entry__title"><a href="single-standard.html">Create Meaningful Family Moments.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Family</a>
                                        <a href="category.html">Relationship</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 26, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-audio animate-this animated" style="position: absolute; left: 50%; top: 2075.17px;">

            <div class="entry__thumb">
                <a href="single-audio.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/guitarist-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/guitarist-600.jpg 1x, images/thumbs/masonry/guitarist-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-audio.html">What Your Music Preference Says About You and Your Personality.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Lifestyle</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 24, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 0%; top: 2491.3px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/beetle-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/beetle-600.jpg 1x, images/thumbs/masonry/beetle-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-standard.html">Throwback To The Good Old Days.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Lifestyle</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 24, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-video animate-this animated" style="position: absolute; left: 50%; top: 2968.31px;">

            <div class="entry__thumb video-image">
                <a href="https://player.vimeo.com/video/117310401?color=339989&amp;title=0&amp;byline=0&amp;portrait=0" data-lity="" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/cookies-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/cookies-600.jpg 1x, images/thumbs/masonry/cookies-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-video.html">No Sugar Oatmeal Cookies.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Lifestyle</a>
                                        <a href="category.html">Health</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 24, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 0%; top: 3292.31px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/lamp-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/lamp-600.jpg 1x, images/thumbs/masonry/lamp-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-standard.html">Another Standard Format Post.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Design</a>
                                        <a href="category.html">Photography</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 24, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-link animate-this animated" style="position: absolute; left: 50%; top: 3737.32px;">

            <div class="entry__thumb">
                <div class="link-wrap">
                    <h2>Powerful web &amp; Wordpress hosting. Guaranteed. Starting at $2.59/mo!</h2>
                    <cite>
                        <a target="_blank" href="https://www.dreamhost.com/r.cgi?287326">https://www.dreamhost.com</a>
                    </cite>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-gallery animate-this animated" style="position: absolute; left: 50%; top: 4125.47px;">

            <div class="entry__thumb slider">
                <div class="slider__slides slick-initialized slick-slider slick-dotted">
                    <div class="slick-list draggable" style="height: 461.141px;"><div class="slick-track" style="opacity: 1; width: 1203px;"><div class="slider__slide slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 401px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                <img src="{{ asset("front2/") }}images/thumbs/masonry/gallery/slide-1-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/gallery/slide-1-600.jpg 1x, images/thumbs/masonry/gallery/slide-1-1200.jpg 2x" alt="">
                            </div><div class="slider__slide slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 401px; position: relative; left: -401px; top: 0px; z-index: 998; opacity: 0;">
                                <img src="{{ asset("front2/") }}images/thumbs/masonry/gallery/slide-2-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/gallery/slide-2-600.jpg 1x, images/thumbs/masonry/gallery/slide-2-1200.jpg 2x" alt="">
                            </div><div class="slider__slide slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 401px; position: relative; left: -802px; top: 0px; z-index: 998; opacity: 0;">
                                <img src="{{ asset("front2/") }}images/thumbs/masonry/gallery/slide-3-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/gallery/slide-3-600.jpg 1x, images/thumbs/masonry/gallery/slide-3-1200.jpg 2x" alt="">
                            </div></div></div>


                    <ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1">3</button></li></ul></div>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-gallery.html">The Best Tropical Leaves Images.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Vacation</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 23, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 0%; top: 4153.45px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/walk-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/walk-600.jpg 1x, images/thumbs/masonry/walk-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-standard.html">Using Repetition and Patterns in Photography.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Work</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 23, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

        <article class="masonry__brick entry format-standard animate-this animated" style="position: absolute; left: 0%; top: 4954.47px;">

            <div class="entry__thumb">
                <a href="single-standard.html" class="entry__thumb-link">
                    <img src="{{ asset("front2/") }}images/thumbs/masonry/real-600.jpg" srcset="{{ asset("front2/") }}images/thumbs/masonry/real-600.jpg 1x, images/thumbs/masonry/real-1200.jpg 2x" alt="">
                </a>
            </div>

            <div class="entry__text">
                <div class="entry__header">
                    <h2 class="entry__title"><a href="single-standard.html">How We Live Is What Makes Us Real.</a></h2>
                    <div class="entry__meta">
                                    <span class="entry__meta-cat">
                                        <a href="category.html">Travel</a>
                                        <a href="category.html">Vacation</a>
                                    </span>
                        <span class="entry__meta-date">
                                        <a href="single-standard.html">Apr 23, 2019</a>
                                    </span>
                    </div>
                </div>
                <div class="entry__excerpt">
                    <p>
                        Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                    </p>
                </div>
            </div>

        </article> <!-- end article -->

    </div>

{% endblock %}